<% content_for :body_class, 'bg-light' %>

<section class="section instrument-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @product.title %></h1>

      <div class="feature-image">
        <%= image_tag(@product.image_url(:default)) if @product.image_url.present? %>
      </div>

      <div class="content pa4 mt3 bg-white border-radius-3">

      <h3 class="subtitle is-4">Descrição</h3>
      <%= @product.description %>
    </div>
    </div>
    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <h4 class="title is-5 has-text-centered"><%= number_to_currency(@product.price) %></h4>
        <p class="has-text-centered mb4">Vendido por <%= @product.business_name %></p>
        <%= button_to 'Adicionar ao Carrinho', line_items_path(product_id: @product), class: 'button is-warning add-to-cart' %>
      </div>
    </div>
  </div>

  <% if current_user.id == @product.user_id %>
    <%= link_to 'Editar', edit_product_path(@product), class: 'button' %>
  <% end %>
</section>