<!DOCTYPE html>
<html>
  <head>
    <title>iFunner</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <%= link_to root_path, class:"navbar-brand js-scroll-trigger" do %>
          <%= image_tag '1.png', class: 'img-fluid d-block mx-auto logo' %>
        <% end %>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <% if user_signed_in? %>
              <%= link_to 'Adicionar Produto', new_product_path, class: "nav-link" %>
              <%= link_to edit_user_registration_path, class:"nav-link" do %>
                      <span class="icon is-small">
                        <i class="fa fa-user"></i>
                      </span>
                <%= current_user.name %>
              <% end %>
              <%= link_to products_path, class:"nav-link"  do %>
                      <span class="icon is-small">
                        <i class="fa fa-bars"></i>
                      </span>
                Produtos
              <% end %>
                  <% if total_cart_items %>
                    <%= link_to cart_path(@cart), class:"nav-link" do %>
                      <span class="icon is-small">
                        <i class="fa fa-shopping-cart"></i>
                      </span>
                      Carrinho
                    <% end %>
                  <% end %>
              <%= link_to destroy_user_session_path, method: :delete, class:"nav-link"  do %>
                      <span class="icon is-small">
                        <i class="fa fa-sign-out"></i>
                      </span>
                Sair
              <% end %>
            <% else %>
            <li class="nav-item">
              <%= link_to "LOGIN", new_user_session_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "CADASTRE-SE", new_user_registration_path, class:"nav-link"%>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>


  <%= yield(:header) %>

  <div class="container">

    <%= yield %>

  </div>

  </body>
</html>
